.table-responsive {
  width: 300px;
  overflow-x: scroll;
  margin: auto;
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  /* Height of horizontal scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: #e0e0e0;
  /* Track color */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Roundness of the scrollbar */
  border: 2px solid #e0e0e0;
  /* Space around scrollbar */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color on hover */
}

@media (min-width:400px) {
  .table-responsive {
    width: 74vw;
  }
}

@media (min-width:950px) {
  .table-responsive {
    width: 80vw;
  }
}

@media (min-width:1050px) {
  .table-responsive {
    width: 70vw;
  }
}

@media (min-width:1350px) {
  .table-responsive {
    width: 87vw;
  }
}

.tablebg {
  background-color: white;
  border: 2px solid white;
  padding: 0px;
  padding-top: 0px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.tablebg thead {
  /* Styles for the first row in the table header */
  font-weight: 400 !important;
  font-size: 16px !important;
  background-color: white; 
  box-shadow: 1px 1px 5px rgb(219, 217, 217);
  color: white;
  position: sticky;
  top: 0;
  text-wrap: nowrap;
  z-index: 50;
}

.tablebg thead tr:first-child {
  background-color: #3A4056;
}
/* .tablebg thead  {
  position: sticky;
  top: 3rem;
  background-color: white;
  z-index: 50;
  
} */

.tablebg th,
td {
  padding: 13px;
  text-align: center;
  vertical-align: top;
}

.tablebg td {
  border-bottom: 1px solid rgba(159, 159, 159, 0.2);
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0px;
  height: fit-content;
  color: #878787;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  word-wrap: break-word;
  /* Ensures long words wrap */
  word-break: break-word;
  /* Ensures text breaks at word boundaries */
  white-space: normal;
  /* Allows wrapping */
}
